/* default css stling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
    padding-top: 60px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
