.navbar{
    display: flex;
    flex-direction: row;
    background-color: #4c9e9e;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    color: white;
    font-family: "Roboto", serif;
    font-weight: 500;
}

.left{
    margin-left: 20px;
    color: white;
}

.right-section{
   margin-right: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
